---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const { contents: posts } = await getBlogs({ fields: ["id", "title", "publishedAt", "eyecatch", "category"] });
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 class="text-center text-xl md:text-4xl md:text-left font-extrabold md:pt-6 tracking-widest">{SITE_TITLE}</h1>
			<div class="py-6  text-center text-sm md:text-xl md:py-8 md:text-left text-stone-500">
			続かない愚行録。日々の安寧。
			</div>
			<!-- microCMSから呼び出した投稿をデザインあてながらリスト表示 -->
			<ul>
				{
					posts.map((post) => (
						<li>
							<section class="flex items-center bg-white">
								<div class="justify-center flex-1 max-w-4xl px-4 py-4 mx-auto text-left lg:py-10 ">
									<div class="grid grid-cols-1 mb-6 md:grid-cols-[70%,1fr] border-gray-200 border-b dark:border-gray-700 pb-6 gap-4">
										<div>
											<div class="flex items-center ">
												<span class="md:text-xl text-gray-500 dark:text-gray-400 pb-4">
													{new Date(post.publishedAt).toLocaleDateString(`ja-JP`)}
													</span>
											</div>

											<h2 class="mt-1 mb-3 text-xl font-semibold text-gray-600 dark:text-gray-400 ">
												<a href={`/blog/${post.id}`} class="text-stone-600">{post.title}
													</a>
												</h2>
										</div>
										<div>
											<img src={post.eyecatch.url} alt="" class="object-cover w-52 h-52">
										</div>
									</div>
								</div>
			</section>
						</li>
					))
				}
			</ul>
		</main>
		<Footer />
	</body>
</html>
