---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SimpleAnalytics from '../components/SimpleAnalytics.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const { contents: posts } = await getBlogs({ limit: 100, fields: ["id", "title", "publishedAt", "eyecatch", "articleContent", "category", "tags"] })
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 class="text-center text-4xl font-extrabold md:text-4xl md:text-left md:pt-6 tracking-widest">{SITE_TITLE}</h1>
			<div class="py-6  text-center text-sm border-b-2 md:border-b-0 md:text-xl md:py-8 md:text-left text-stone-500">
			続かない愚行録
			</div>
			<!-- microCMSから呼び出した投稿をデザインあてながらリスト表示 -->
			<ul>
				{
					posts.map((post) => (
						<li>
							<section class="flex items-center bg-white">
								<div class="justify-center flex-1 max-w-4xl px-4 py-4 mx-auto text-left lg:py-10">
									<div class="grid grid-cols-1 mb-6 md:grid-cols-[70%,1fr] border-gray-200 border-b dark:border-gray-700 pb-6 gap-4">
										<div>
											<div class="flex items-center justify-center md:justify-start">
												<span class="md:text-lg text-gray-500 dark:text-gray-400 pb-4">
													{new Date(post.publishedAt).toLocaleDateString(`ja-JP`, { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}
													</span>
											</div>
											<h2 class="flex justify-center md:justify-start mt-1 mb-3 text-xl font-semibold">
												<a href={`/blog/${post.id}`} class="text-stone-600">{post.title}</a>
											</h2>
											<div class="text-base text-left"> {post.articleContent[0].richText?.replace(/<("[^"]*"|'[^']*'|[^'">])*>/g,'').substring(0,80)}</div>
											<div class="py-2 font-bold text-end md:hidden"><a href={`/blog/${post.id}`} class="text-stone-600 hover:text-stone-700">読む→</a></div>
											<div class="flex flex-wrap">
											{
											  post.tags.split(" ").map((tag) => (
												<div class="text-xs mr-4 mt-2 p-2 bg-white font-bold text-gray-700 rounded-full border">#{tag}</div>
												)
											  )
											}
											</div>
										</div>
										<div class="flex justify-center">
											<img src={post.eyecatch.url} alt="eyecatchImage" class="object-cover max-w-full h-52">
										</div>
									</div>
								</div>
							</section>
						</li>
					))
				}
			</ul>
		</main>
		<Footer />
		<SimpleAnalytics />
	</body>
</html>
