---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const { contents: posts } = await getBlogs({ fields: ["id", "title", "publishedAt"] });
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			続かない愚行録。日々の安寧。
			<ul class="blog-posts">
				{
					posts.map((post) => (
						<li>
							<time datetime={post.publishedAt}>
								{new Date(post.publishedAt).toLocaleDateString(`ja-JP`)}
							</time>
							<span></span>
							<a href={`/blog/${post.id}`}>{post.title}</a>
						</li>
					))
				}
			</ul>
		</main>
		<Footer />
	</body>
</html>
