---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ShareButtons from '../components/ShareButtons.astro';
import Giscus from "../components/Giscus.astro";
import SimpleAnalytics from '../components/SimpleAnalytics.astro';
import AddThis from '../components/AddThis.astro';
import PrevNextLink from '../components/PrevNextLink.astro';
export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		tags?: string;
		nextBlogId?: string;
		prevBlogId?: string;
		nextBlogTitle?: string;
		prevBlogTitle?: string;
	};
}

const {
	content: { title, description, pubDate, tags, nextBlogId, prevBlogId, nextBlogTitle, prevBlogTitle}
} = Astro.props;
---
<html lang="ja">
	<head>
	  <BaseHead title={title} description={description} />
	  <style>
		.title {
			@apply flex justify-center text-left font-extrabold text-4xl py-6 leading-normal tracking-tighter md:text-5xl md:py-8 md:leading-tight
		}
	  </style>
	</head>

	<body>
		<Header />
		<main>
			<article class="markdown-body">
				<div class="text-center">{pubDate && <time>{pubDate}</time>}</div>
				<div class="title">{title}</div>
				<div class="flex flex-wrap md:justify-center">
					{
					  tags?.split(" ").map((tag) => (
						<div class="text-xs mr-4 mt-2 p-2 bg-white font-bold text-gray-700 rounded-full border">#{tag}</div>
						)
					  )
					}
					</div>
				<div class="flex justify-center py-6 border-b-4 border-solid border-gray-200 mb-10"><img src="/hy3nalogo.webp" width="56" height="56" alt="hy3na-logo"></div>
				<slot />
			</article>
			<PrevNextLink prevBlogId={prevBlogId} prevBlogTitle={prevBlogTitle} nextBlogId={nextBlogId} nextBlogTitle={nextBlogTitle} />
			<ShareButtons />
			<Giscus />
		</main>
		<Footer />
		<AddThis />
		<SimpleAnalytics />

		<style is:global>
			.markdown-body{
				@apply container mx-auto md:px-14 text-lg tracking-wider leading-loose
			}
			.markdown-body ul {
				@apply list-disc list-inside pl-4 mb-4
			}
			.markdown-body h1, h2, h3 {
				@apply font-bold mb-4
			}
			.markdown-body h1, h2 {
				@apply border-b-2 border-solid border-gray-200 
			}
			.markdown-body h1 {
				@apply text-left text-4xl pb-2 font-extrabold leading-normal tracking-tight
			}
			.markdown-body h2 {
				@apply text-2xl
			}
			.markdown-body h3 {
				@apply text-xl
			}
			.markdown-body p {
				@apply mb-8
			}
		</style>
	</body>
</html>

